@page "/cards"
@inject IJSRuntime JS

<PageTitle>Pokemon Cards</PageTitle>

<div class="alert alert-warning" role="alert">
  <h4 class="alert-heading">Attention!</h4>
  <p>This page is still under development. New updates come out daily, stay tuned for the news.</p>
</div>

<div id="modal" class="modal">
    <div class="modal-content">
        <div class="row">
            <div class="col-12 col-md-4">
                <img id="cardImage" alt="Card" height="279" width="200">
            </div>
            <div class="col-12 col-md-8">
                <div class="modal-header">
                    <h2 id="pokemonName"></h2>
                    <span id="closeModal" @onclick="CloseModal" class="close">&times;</span>
                </div>
                <div class="vertical-light-divider"/>
                <div class="modal-body">
                    <p id="cardDescription"></p>
                    <p id="cardRarity"></p>
                        CanBeObteinedBy
                    <p id="cardDropRate"></p>
                </div>
            </div>
        </div>
    </div>
</div>

<PokemonCards/>

@code {

    private async Task OpenModal()
        => await JS.InvokeVoidAsync("eval", "document.getElementById('modal').style.display = 'block';");

    private async Task CloseModal()
        => await JS.InvokeVoidAsync("eval", "document.getElementById('modal').style.display = 'none';");

}