@page "/cards"

<PageTitle>Pokemon Cards</PageTitle>

<div class="form-check form-check-inline">
    <input class="form-check-input rounded-circle" type="checkbox" value="" id="defaultCheck1">
    <label class="form-check-label rounded-circle" for="defaultCheck1">Opção 1</label>
</div>

<ul class="content-block content-block-full">

    <li class="list-grid-thirds pill-control">

        <input type="checkbox" id="card-grass" name="card-grass" class="pill-control__input icon-grass">

        <label for="card-grass" class="pill-control__label">
            <i class="energy icon-grass"></i>
            <span></span>
        </label>
    </li>
</ul>


<PokemonCards/>

@code {

    public void OnInitialized()
    {
        Console.WriteLine("OnInitialized");
    }

}