@page "/cards"

<PageTitle>Pokemon Cards</PageTitle>

@* <div class="form-check form-check-inline"> *@
@*     <input class="form-check-input rounded-circle" type="checkbox" value="" id="defaultCheck1"> *@
@*     <label class="form-check-label rounded-circle" for="defaultCheck1">Opção 1</label> *@
@* </div> *@

<PokemonCards/>

@code {

    public void OnInitialized()
    {
        Console.WriteLine("OnInitialized");
    }

}