<div class="card-body py-5">

    <!-- Carousel wrapper -->
    <div id="carouselDarkVariant" class="carousel slide carousel-dark" data-mdb-ride="carousel">
        <!-- Indicators -->
        <div class="carousel-indicators mb-0">
            <button data-mdb-target="#carouselDarkVariant" data-mdb-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1">
            </button>
            <button data-mdb-target="#carouselDarkVariant" data-mdb-slide-to="1"
                    aria-label="Slide 1">
            </button>
            <button data-mdb-target="#carouselDarkVariant" data-mdb-slide-to="2"
                    aria-label="Slide 2">
            </button>
        </div>

        <!-- Inner -->
        <div class="carousel-inner pt-2 pb-5">
            <!-- Single item -->
            <div class="carousel-item active">
                <div class="row d-flex justify-content-center">
                    <div class="col-md-8 col-lg-9 col-xl-8">
                        <div class="d-flex">
                            <div class="flex-shrink-0">
                                <img src="https://i.imgur.com/j5ULnM3.png"
                                     class="rounded-circle mb-4 mb-lg-0 shadow-2" alt="woman avatar" width="90"
                                     height="90">
                            </div>
                            <div class="flex-grow-1 ms-4 ps-3">
                                <figure>
                                    <blockquote class="blockquote mb-4">
                                        <p>
                                            <i class="fas fa-quote-left fa-lg text-warning me-2"></i>
                                            <span class="font-italic">
                                                This is a fan work for fans. With no intent of rewards and no obligations.
                                                Demands for information will be ignored. However, accurate information from
                                                those with the same interest in developing the player community is always welcome.
                                            </span>
                                        </p>
                                    </blockquote>
                                    <figcaption class="blockquote-footer">
                                        <a href="https://padventures.org/index.php/character/view/Old%20Zaun" target="_blank">
                                            Old Zaun
                                            <cite title="Sênior Tutor" style="color: #BEF781;">
                                                <i class="fas fa-chess-knight"></i>
                                            </cite>
                                            <cite title="Diamond" style="color: #3dd5f3;">
                                                <i class="fas fa-gem"></i>
                                            </cite>
                                        </a>
                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="carousel-item">
                <div class="row d-flex justify-content-center">
                    <div class="col-md-8 col-lg-9 col-xl-8">
                        <div class="d-flex">
                            <div class="flex-shrink-0">
                                <img src="https://imgur.com/ed1yx1j.png"
                                     class="rounded-circle mb-4 mb-lg-0 shadow-2" alt="woman avatar" width="90"
                                     height="90">
                            </div>
                            <div class="flex-grow-1 ms-4 ps-3">
                                <figure>
                                    <blockquote class="blockquote mb-4">
                                        <p>
                                            <i class="fas fa-quote-left fa-lg text-warning me-2"></i>
                                            <span class="font-italic">
                                                Hello, I hope you enjoy it enough exploring our new site prepared with great
                                                affection and dedication. Here you will find more objective information such as:
                                                Cards system informations, spawns per level, quests, achievements and pokemon full info. Enjoy! 😄
                                            </span>
                                        </p>
                                    </blockquote>
                                    <figcaption class="blockquote-footer">
                                        <a href="https://padventures.org/index.php/character/view/Andy" target="_blank">
                                            Andy
                                            <cite title="Game Master" style="color: #DED1AE;">
                                                <i class="fas fa-chess-bishop"></i>
                                            </cite>
                                            <cite title="Diamond" style="color: #3dd5f3;">
                                                <i class="fas fa-gem"></i>
                                            </cite>
                                        </a>
                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="carousel-item">
                <div class="row d-flex justify-content-center">
                    <div class="col-md-8 col-lg-9 col-xl-8">
                        <div class="d-flex">
                            <div class="flex-shrink-0">
                                <img src="https://i.imgur.com/QEEkFmO.png"
                                     class="rounded-circle mb-4 mb-lg-0 shadow-2" alt="woman avatar" width="90"
                                     height="90">
                            </div>
                            <div class="flex-grow-1 ms-4 ps-3">
                                <figure>
                                    <blockquote class="blockquote mb-4">
                                        <p>
                                            <i class="fas fa-quote-left fa-lg text-warning me-2"></i>
                                            <span class="font-italic">
                                                PAdventures is much more than a game, it is a space where a large community
                                                can share experiences and participate in a reality full of opportunities.
                                                I wish you a journey full of success, happiness and achievements.
                                            </span>
                                        </p>
                                    </blockquote>
                                    <figcaption class="blockquote-footer">
                                        <a href="https://padventures.org/index.php/character/view/pandorah" target="_blank">
                                            Pandorah
                                            <cite title="Sênior Tutor" style="color: #BEF781;">
                                                <i class="fas fa-chess-knight"></i>
                                            </cite>
                                            <cite title="Diamond" style="color: #3dd5f3;">
                                                <i class="fas fa-gem"></i>
                                            </cite>
                                        </a>
                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <button class="carousel-control-prev" type="button" data-mdb-target="#carouselDarkVariant"
                data-mdb-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-mdb-target="#carouselDarkVariant"
                data-mdb-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>

@code {

}