<section class="">
    <footer class="text-dark text-center text-md-start">
        <!-- Grid container -->
        <div class="container p-4">
            <!--Grid row-->
            <div class="row">
                <!--Grid column-->
                <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                    <img
                        src="lib/images/logos/PadventuresWikiLogo.png"
                        height="35"
                        alt="MDB Logo"
                        loading="lazy"
                        style="margin-top: -1px;"/>

                    <p>
                        Browse through our collection of knowledge accumulated through the experience of many players.
                        Also share your knowledge so that we can always evolve.
                    </p>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Popular Pages</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="/achievements" class="text-info"><i class="fas fa-trophy"></i> Achievements</a>
                        </li>
                        <li>
                            <a href="/cards" class="text-info"><i class="fas fa-receipt"></i> Cards</a>
                        </li>
                        <li>
                            <a href="/items" class="text-info"><i class="fas fa-compact-disc"></i> Items</a>
                        </li>
                        <li>
                            <a href="/quests" class="text-info"><i class="fas fa-box"></i> Quests</a>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase mb-0">Important Pages</h5>

                    @* <ul class="list-unstyled"> *@
                    @*     <li> *@
                    @*         <a href="#!" class="text-white">Link 1</a> *@
                    @*     </li> *@
                    @*     <li> *@
                    @*         <a href="#!" class="text-white">Link 2</a> *@
                    @*     </li> *@
                    @*     <li> *@
                    @*         <a href="#!" class="text-white">Link 3</a> *@
                    @*     </li> *@
                    @*     <li> *@
                    @*         <a href="#!" class="text-white">Link 4</a> *@
                    @*     </li> *@
                    @* </ul> *@
                </div>
                <!--Grid column-->
            </div>
            <!--Grid row-->
        </div>
        <!-- Grid container -->
        
        <hr/>

        <!-- Copyright -->
        <div class="text-center p-3" style="color: transparent;">
            © 2023 Copyright:
            <a href="https://github.com/BrewertonSantos" style="color: transparent;" target="_blank">Brewerton Santos</a>
        </div>
        <!-- Copyright -->
    </footer>
    <!-- Footer -->
</section>

@code {

}