@using PadWiki.WebClient.Services.Contracts
@inject IPokemonCardsService PokemonCardsService

<Pagination Count="PokemonCardsService.Cards.Count"/>

<ul class="d-flex flex-wrap justify-content-between" style="padding-left: initial;" id="cardResults">
    @foreach (var card in PokemonCardsService.Cards)
    {
        <li class="poke-card m-2">
            <PokemonCard Image="@card.ImagePath" Title="@card.Title" Description="@card.Description" CardRarity="card.CardRarity" CardDropRate="card.DropRarity"/>
        </li>
    }
</ul>

<Pagination Count="PokemonCardsService.Cards.Count"/>

@code {
}