@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.Routing

<div class="page">
    <main>
        <div class="auth">
            @* <LoginDisplay /> *@
            @* <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a> *@
            <!-- Navbar -->
            <nav class="col-12 navbar navbar-expand-lg navbar-light bg-light">
                <!-- Container wrapper -->
                <div class="container">
                    <!-- Navbar brand -->
                    <a class="navbar-brand me-2" href="https://mdbgo.com/">
                        <img
                            src="https://padventures.org/templates/padventures/images/logo.png"
                            height="28"
                            alt="MDB Logo"
                            loading="lazy"
                            style="margin-top: -1px;"/>
                    </a>

                    <!-- Toggle button -->
                    <button
                        class="navbar-toggler"
                        type="button"
                        data-mdb-toggle="collapse"
                        data-mdb-target="#navbarButtonsExample"
                        aria-controls="navbarButtonsExample"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                        <i class="fas fa-bars"></i>
                    </button>
                    
                    <div class="collapse navbar-collapse" id="navbarButtonsExample">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link" href="#">Dashboard</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/cards">Cards</a>
                            </li>
                        </ul>

                        <div class="d-flex align-items-center">
                            <button type="button" class="btn btn-link px-3 me-2">
                                Login
                            </button>
                            <button type="button" class="btn btn-primary me-3">
                                Sign up for free
                            </button>
                        </div>
                    </div>
                </div>
            </nav>
        </div>

        <article class="container content px-4">
            @Body
        </article>
    </main>
</div>